ul {
  display: flex;
  list-style-type: none;
}
ul li {
  padding: 0 10px;
  cursor: pointer;
}

.navbar {
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 400px;
  padding: 10px 10px;
  box-shadow: 5px 5px 5px grey;
  margin: 5px 5px;
  border-radius: 10px;
}
p {
  display: inline;
}

@media all and (max-width: 1290px) and (min-width: 882px) {
  .card {
    width: 400px;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 880px) {
  .card {
    width: 80%;
    margin: 10px auto;
  }
}
